<div class="container-fluid">
	<div class="row">
		<div class="col-sm-5 offset-sm-1 mt-4">
			<h1>Cart Items</h1>
			<% if current_user %>
				<table class="table">
			  	<thead>
				    <tr>
				      <th scope="col">#</th>
				      <th scope="col">Name</th>
				      <th scope="col">Price</th>
				      <th scope="col">Seller</th>
				    </tr>
			  	</thead>
			  	<tbody>
			  		<% @num = 0 %>
						<% @productSession.each do |product| %>
							<% @userSession.each do |supplier| %>
								<% @num += 1 %>
								<tr>
						      <th scope="row"><%= @num%></th>
						      <td><%= product.name%></td>
						      <td><%= product.price%></td>
						      <td><%= supplier.name%></td>
						    </tr>
						   <% end %>
						<% end %>
					</tbody>
				</table>
				<%= link_to 'Checkout Now', new_order_path, class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>
</div>
