<div class="container-fluid">
	<div class="row">
		<div class="col-xs-10 mt-4">
			<h1>Cart Items</h1>
			<% if current_user %>
				<table class="table">
			  	<thead>
				    <tr>
				      <th scope="col">#</th>
				      <th scope="col">Name</th>
				      <th scope="col">Price</th>
				      <th scope="col">Seller</th>
				      <th scope="col"></th>
				    </tr>
			  	</thead>
			  	<tbody>
			  		<% @num = 0 %>
			  		<% if @productSession.nil? %>
			  			<h4 class="text-danger"> Currently nothing is in your cart</h4>
			  		<% else %>
							<% @productSession.each do |product| %>
									<% @num += 1 %>
										<tr>
								      <th scope="row"><%= @num%></th>
								      <td><%= product.name%></td>
								      <td><%= product.price%></td>
							      	<td><%= product.user.name %></td>
											<td><%= link_to 'Proceed To Checkout', new_product_order_path(product.id), class: "btn btn-primary" %></td>
    									<td><%= link_to 'Delete', product_cart_path(product, current_user.id), method: :delete, data: { confirm: 'Are you sure you want to delete this?' }, class: "btn btn-primary" %>
											</td>
							    	</tr>
							<% end %>
						<% end %>
					</tbody>
				</table>
			<% end %>
		</div>
	</div>
</div>
