<div class="container">
	<div class="row">
		<div class="col-sm-8 mt-4">
			<% if @orders.blank? %>
				<h1>No order was made</h1>
			<% else %>
				<h1 style="font-size: 40px"> Your Orders: </h1>
				<hr/>
				<% @orders.each do |order|%>
					<% if order.status === true %>
						<% order.products.each do |op| %>
							<h3> Name: <small class="text-info"> <%= op.name %></small> </h3>
							<%= cl_image_tag(op.product_image, class: "img-fluid showPic profile") %>
							<h3> Price: <small class="text-info"> $<%= op.price %></small> </h3>
							<h3> Number of renting days: <small class="text-info"> <%= order.rental_days %></small></h3>
							<h3> Total Price: <small class="text-info"> $<%= order.individual_cost %></small></h3>
							<%= form_tag order_charges_path(order.id) do %>
							  <article>
							    <% if flash[:error].present? %>
							      <div id="error_explanation">
							        <p><%= flash[:error] %></p>
							      </div>
							    <% end %>
							  </article>
							  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
							          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
							          data-description="Product name: <%= op.name %>"
							          data-amount="<%= order.individual_cost * 100 %>"
							          data-locale="auto"></script>
							<% end %>
							<br/>
							<%= link_to '<i class="fas fa-trash"></i> Delete'.html_safe, order_path(order.id), method: :delete, data: { confirm: 'Are you sure you want to delete this order?' }, class: "btn btn-primary" %>
							<hr/>
						<% end %>
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>



