<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-1 mt-4">
			<h1>Edit Post</h1>
					<%= form_with model: @product, url: product_path, local: true do |form| %>
						<p>
								<%= form.label :name, class: 'h3'%><br/>
								<%= form.text_field :name, size: "100", class: 'form-control'%>
						</p>
						<p>
							<%= form.label :product_image, class: 'h3' %><br>
							<%= form.file_field :product_image, class: 'form-control'%>
						</p>
						<p>
								<%= form.label :description, class: 'h3' %><br/>
								<%= form.text_area :description, cols: "100", rows: "10",class: 'form-control' %>
						</p>
						<p>
							<%= form.label :price, class: 'h3' %><br>
							<%= form.number_field :price, class: 'form-control' %>
						</p>
						<p>
							<%= form.label :rental_days, class: 'h3' %><br>
							<%= form.number_field :rental_days, class: 'form-control' %>
						</p>
						<p>
							<%= form.label :meetup_date, class: 'h3' %><br>
							<%= form.date_field :meetup_date, class: 'form-control' %>
						</p>
						<p>
							<%= form.label :meetup_location, class: 'h3' %><br>
							<%= form.text_field :meetup_location, class: 'form-control' %>
						</p>
						<p>
							<%= form.label :availability_status, class: 'h3' %><br>
							<%= form.select :availability_status, ['Have Stock', 'Out of Stock'], class: 'form-control'%>
						</p>
						<p>
							<br/>
							<%= form.submit :class => "btn btn-primary" %>
						</p>
					<% end %>
			<%= link_to 'Back', root_path, :class => "text-info" %>
		</div>
	</div>
</div>