<div class="container">
	<div class="row">
		<div class="col-sm-6 mt-4" >
				<h1 style="font-size: 40px"> Product: <%=@product.name %></h1>
				<%= cl_image_tag(@product.product_image, class: "img-fluid showPic profile") %>
				<p style="border: 5px solid black; padding: 10px; border-radius: 10px; margin-top: 10px"> <%=@product.description%></p>
				<h3 class="text-info" style="font-size: 30px">Supplier's name:</h3>
				<p style="font-size: 20px"> <%=@user.name %></p>
				<h3 class="text-info" style="font-size: 30px">Price per week:</h3>
				<p style="font-size: 20px"> <%=@product.price %></p>
		</div>
		<div class="col-sm-6 mt-4 product-details">
				<h3 class="text-info" style="font-size: 30px">Preferred Location for Meetup: </h3>
				<p style="font-size: 20px"> <%= @product.meetup_location %></p>
				<div id="map"></div>
				<br/>
				<h3 class="text-info" style="font-size: 30px">Availability: </h3>
				<% if @product.availability_status == true %>
						<p class="text-success" style="font-size: 20px">Currently have stock </p>
				<% else %>
						<p class="text-danger" style="font-size: 20px">Out of stock</p>
				<%end%>
				<% if @product.user_id != current_user.id %>
					<% if @product.availability_status === true %>
			    	<%= link_to '<i class="fas fa-cart-plus"></i> Cart'.html_safe, product_cart_index_path(@product), class: "btn btn-primary" %>
			    	<%= link_to like_product_path(@product), method: :put, class: "btn btn-primary" do %>
			    			<i class="fas fa-thumbs-up"></i>
			    			<%= @product.get_upvotes.size %>
			    	<% end %>
			    	<%= link_to dislike_product_path(@product), method: :put, class: "btn btn-primary" do %>
			    			<i class="fas fa-thumbs-down"></i>
			    			<%= @product.get_downvotes.size %>
			    	<% end %>
			    <% else %>
			    	<p>There is currently no stock available! Please check in later! </p>
			    <% end %>
				<% else %>
			    	<%= link_to 'Edit' , edit_product_path(@product), class: "btn btn-primary btn-xs" %>
			    	<%= link_to 'Delete' , product_path(@product), method: :delete,
data: { confirm: 'Are you sure you want to delete this?' }, class: "btn btn-primary btn-xs" %>
				<% end %>
		</div>
	<div class="col-sm-6 mt-4" >
		<h1 style="font-size: 40px">Comments</h1>
		<%= link_to 'View all comments', product_comments_path(@product), class: "btn btn-primary" %>
		<p></p>
	</div>

	<div class="row">

	</div>
  <script>
	  var map;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat:<%= @product.latitude %>, lng:<%= @product.longitude %>},
        zoom: 13
      });

		  var marker = new google.maps.Marker({
		    position: {lat:<%= @product.latitude %>, lng:<%= @product.longitude %>},
		    map: map,
		    title: 'Hello World!'
		  });
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5XAE_t6YUsO_4vl-eitIVMmt2kgSmHjM&callback=initMap"
  async defer>
  </script>
</div>
