<div class="container-fluid">
	<div class="row">
		<div class="col-sm-5 offset-sm-1 mt-4" style="border: 1px solid black" >
				<h1 style="font-size: 40px"> Product #<span class="text-success"><%=@product.id%></span></h1>
				<h3 style="font-size: 30px"> Product name: </h3>
				<p class="text-success"><%=@product.name %></p>
				<%= cl_image_tag(@product.product_image, class: "img-fluid showPic") %>
				<h3 style="font-size: 30px"> Product Description: </h3>
				<p style="font-size: 20px"> <%=@product.description%></p>
		</div>

		<div class="col-sm-5 mt-4 ml-3" style="border: 1px solid black" >
				<h1>Price:</h1>
				<p style="font-size: 20px"> <%=@product.price %></p>
				<h1>Preferred Location for Meetup: </h1>
				<p style="font-size: 20px"> <%= @product.meetup_location %>
				<h1>Availability: </h1>
				<% if @product.availability_status == true %>
						<p style="font-size: 20px">Current have stock </p>
				<% else %>
						<p style="font-size: 20px">Out of stock</p>
				<%end%>
				<% if @product.user_id != current_user.id %>
			    	<%= link_to 'Cart' , product_sessions_path(@product), class: "btn btn-primary" %>
				<% else %>
			    	<%= link_to 'Edit' , edit_product_path(@product), class: "btn btn-primary" %>
			    	<%= link_to 'Delete' , product_path(@product), method: :delete,
data: { confirm: 'Are you sure you want to delete this?' }, class: "btn btn-primary" %>
				<% end %>
		</div>
	</div>
</div>